span, h1, h3{
			font-family: source-code-pro, monospace;
			font-style: normal;
			font-weight: 200;
		}
		#topnav{
			width: 100%;
		    position: absolute;
		    background: #fff;
		    z-index: 10;
		    top: 0;
		    height: 60px;
		}
		.navcontainer{
			margin-right: 100px;
		}
		#topnav h1{
			font-weight: 500;
			display: inline-block;
		}
		.navitem{
			font-family: source-code-pro, monospace;
			font-style: normal;
			font-weight: 200;
			font-size:14px;
			cursor:pointer;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: inline-block;
		}
		#intro{
			padding-top:200px;
		}
		.profile{
			border-radius:50%;
    		width: 150px;
		}
		.float_left{
			float:left;
		}
		.float_right{
			float:right;
		}
		.question{
			position:absolute;
		}
		.section{
			position:relative;
			padding:50px 50px 50px 150px;
		}
		.txt{
			color:white;
			font-size:16px;
		}
		.bluetxt{
			color:#43c4ef;
			font-size:16px;
		}
		.bubble{
			padding:20px;
			width: 300px;
			border-radius: 15px;
			position: absolute;
		}
		.gavintxt{
			background: #0e58a5;
			left: 320px;
		}
		.leotxt{
			background:#43c4ef;
			right: 250px;
		}
		.label{
			font-size:13px;
			color:white;
			margin-right:15px;
			margin-bottom:5px;
			text-transform: uppercase;
			display: block;
		}
		.whitebg{
			background: white;
		}
		#games{
			background:url('images/wallpaper.png') center center / cover no-repeat;
		}
		.clear{
			clear:both;
		}
		.game{
			width: 300px;
		}
		.bluebtn{
			width: 200px;
			padding:20px 30px;
			background:#0e58a5;
			position:absolute;
			bottom:-80px;
			left:50%;
			transform:translateX(-50%);
		}
		.box{
			position:relative;
			margin-bottom:100px;
			width: 50%;
			text-align: center;
		}
		#deepdive{
			background:url('images/browser.png') center center / cover no-repeat;
			height: 560px;
		}
		.blogimg{
			width: 300px;
			position: absolute;
			bottom:0;
			right:100px;
		}